@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;500;700&display=swap');

/* ---------
    common css
--------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #3E3E3E;
}
h1,h2,h3,h4,h5,p {
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    height: auto;
}
a,a:hover {
    text-decoration: none;
}

/* ---------
    header css
--------- */
header {
    background-color: #FFF9F4;
    padding: 25px 0 130px;
    position: relative;
}
.shape {
    position: absolute;
    top: 0;
    left: 35%;
}
/* --------- 
    navabr css
--------- */
.navbar-brand img {
    width: 291px;
    height: 40px;
}
.navbar-expand-lg .navbar-nav .nav-link {
    color: #3C3C3C;
    font-weight: 500;
    font-size: 16px;
    padding: 0;
    padding-left: 55px;
}
/* --------- 
    banner css
--------- */
.banner-img {
    padding-right: 100px;
}
.banner-content h1 {
    font-size: 80px;
    font-weight: 700;
    font-family: 'Bebas Neue', cursive;
    color: #363958;
    line-height: 80px;
    margin-bottom: 8px;
}
.banner-content h1 span {
    color: #FA804C;

}
.banner-content p {
    width: 380px;
    margin-bottom: 24px;
}
.buy-btn {
    display: inline-block;
    padding: 18px 34px;
    background: linear-gradient(180deg, #3D4FF3 0%, #3543BC 100%);
    border-radius: 10px;
    color: #ffffff;
    font-weight: 500;
}
.buy-btn:hover {
    color: #ffffff;
}
/* --------- 
    casual-shoes css
--------- */
.casual-shoes {
    padding: 50px 0 100px;
}
.section-title {
    color: #363958;
    font-size: 48px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.card {
    border: 0;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 5%);
    border-radius: 20px;
}
.card-img {
    padding: 18px;
}
.card-body {
    padding: 0 15px 22px 22px;
}
.card-title {
    font-size: 24px;
    font-weight: 700;
    color: #363958;
    margin-bottom: 13px;
}
.card-price-btn {
    margin-top: 12px;
}
.card-price-btn h3 {
    font-size: 36px;
    font-weight: 900;
    color: #FA804C;
}

/* --------- 
    formal-shoes css
--------- */
.formal-shoes {
    padding-bottom: 130px;
}